* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
      Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  ::-webkit-scrollbar {
    width: 10px;
    height: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgba(63, 63, 63, 0.8);
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(63, 63, 63, 0.4);
  }
  
  header {
    width: 100%;
    background-color: #fff;
  }
  header > nav {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  header > nav > div > i {
    font-size: 26px;
    color: #030303;
    cursor: pointer;
  }
  
  header > nav > .left {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  header > nav > .left > a > img {
    margin-left: 20px;
    width: 90px;
  }
  
  header > nav > .left::before {
    content: "IN";
    position: absolute;
    bottom: 60%;
    left: 100%;
    font-size: 12px;
  }
  
  header > nav > .search {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  header > nav > .search > input {
    height: 40px;
    width: 600px;
    outline: none;
    border: 1px solid #bbb;
    font-size: 16px;
    padding: 10px;
    border-radius: 2px;
  }
  
  header > nav > .search > .bx-search {
    background-color: #f9f9f9;
    border: 1px solid #bbb;
    border-left: none;
    height: 40px;
    padding: 10px 20px;
    color: rgb(34, 34, 34);
    font-weight: 100;
    font-size: 22px;
  }
  
  header > nav > .search > .bxs-microphone {
    background-color: #f9f9f9;
    border-radius: 50%;
    padding: 10px;
    font-size: 22px;
    margin-left: 4px;
  }
  header > nav > .right {
    width: 14%;
  }
  header > nav > .right > i {
    margin-left: 16px;
  }
  
  main {
    height: 90vh;
  }
  
  main > .feed {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  main > .feed > .menu {
    background-color: #fff;
    height: 100%;
    width: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  main > .feed > .is_active {
    width: 5%;
  }
  
  main > .feed > .is_active > div {
    flex-direction: column;
  }
  
  main > .feed > .is_active > .middle {
    display: none;
  }
  
  main > .feed > .is_active > div > div {
    font-size: 10px;
  }
  
  main > .feed > .is_active > div > i,
  main > .feed > .is_active > div > svg {
    font-size: 24px;
    margin: 8px 4px !important;
  }
  
  main > .feed > .menu > div,
  main > .feed > .menu > .middle > div {
    display: flex;
    width: 100%;
    align-items: center;
    font-size: 14px;
    padding: 6px;
    font-weight: 400;
    cursor: pointer;
  }
  
  main > .feed > .menu > div:not(:last-child):hover,
  main > .feed > .menu > .middle > div:hover {
    background-color: #e5e5e5;
  }
  
  main > .feed > .menu > div > i,
  main > .feed > .menu > div > svg,
  main > .feed > .menu > .middle > div > i,
  main > .feed > .menu > .middle > div > svg {
    font-size: 24px;
    margin: 4px 22px 4px 16px;
  }
  
  main > .feed > .menu > .middle {
    border: 1px solid #bbb;
    width: 100%;
    padding: 8px 0px;
    border-left: none;
    border-right: none;
    flex-direction: column;
  }
  
  main > .feed > .main_feed {
    width: 100%;
    height: auto;
    overflow: hidden;
  }
  
  main > .feed > .main_feed > .tags {
    display: flex;
    align-items: center;
  }
  main > .feed > .main_feed > .tags > .tag_active {
    background-color: #030303;
    color: #fff;
  }
  
  main > .feed > .main_feed > .tags > div {
    background-color: rgba(0, 0, 0, 0.05);
    margin: 12px 16px;
    margin-left: 0px;
    font-size: 16px;
    outline: none;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    user-select: none;
    padding: 2px 12px;
    border-radius: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease;
  }
  
  main > .feed > .main_feed > .tags > div:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
  
  main > .feed > .main_feed > .tags > .tag_active:hover {
    background-color: #030303;
  }
  
  main > .feed > .main_feed > #container {
    display: grid;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    grid-template-columns: repeat(4, 24%);
    grid-template-rows: auto;
    gap: 20px;
    row-gap: 40px;
    background-color: #f9f9f9;
    width: 100%;
    height: 100%;
    padding: 20px;
    padding-bottom: 70px;
    overflow-y: auto;
  }
  
  main > .feed > .main_feed > #container > div {
    cursor: pointer;
  }
  
  main > .feed > .main_feed > #container > div > img {
    width: 100%;
    height: 200px;
  }
  
  main > .feed > .main_feed > #container > div > div > div > p {
    font-size: 13px;
  }
  
  main > .feed > .main_feed > #container > div > div > div > div {
    display: flex;
  }
  
  main > .feed > .main_feed > #container > div > div > div > div > p {
    font-size: 13px;
    padding-right: 4px;
  }
  
  main
    > .feed
    > .main_feed
    > #container
    > div
    > div
    > div
    > div
    > p:nth-child(2)::before {
    content: "•";
    margin: 0 4px;
  }
  
  main > .feed > .main_feed > #container > div > div {
    display: flex;
    /* overflow: hidden; */
  }
  
  main > .feed > .main_feed > #container > div > div > img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 14px;
  }
  main > .feed > .main_feed > #container > div > div > div > h4 {
    font-weight: 500;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 20px;
    max-height: 40px;
  }
  
  @media all and (min-width: 50px) and (max-width: 768px) {
    header > nav > .left > i {
      display: none;
    }
  
    header > nav > .left::before {
      content: "";
    }
  
    header > nav > .search > input {
      height: 30px;
      width: 180px;
    }
  
    header > nav > .search > .bx-search {
      height: 30px;
      padding: 5px 10px;
      font-size: 20px;
    }
  
    header > nav > .left > a > img {
      margin: 0;
      width: 80px;
    }
    header > nav > .search > .bxs-microphone {
      display: none;
    }
  
    header > nav > .search {
      width: 70%;
    }
  
    header > nav > .right {
      display: none;
    }
  
    main > .feed > .main_feed > .tags {
      width: 100%;
      overflow-y: auto !important;
    }
  
    main > .feed > .main_feed > .tags > div {
      font-size: 13px;
      text-align: center;
    }
    main > .feed > .main_feed > .tags > div > p {
      width: 67px;
    }
  
    main > .feed {
      flex-direction: column-reverse;
      height: auto;
      position: relative;
    }
    main > .feed > .menu {
      position: fixed;
      top: 91%;
      height: 70px;
      left: 0;
      z-index: 99;
      flex-direction: row;
      width: 100%;
      align-items: flex-start;
    }
  
    main > .feed > .menu > div > i,
    main > .feed > .menu > div > svg,
    main > .feed > .menu > .middle > div > i,
    main > .feed > .menu > .middle > div > svg {
      margin: 0;
    }
  
    main > .feed > .menu > div,
    main > .feed > .menu > div {
      flex-direction: column;
      font-size: 12px;
      width: 70px;
    }
  
    main > .feed > .menu > .middle {
      display: none;
    }
  
    main > .feed > .main_feed > #container {
      grid-template-columns: repeat(1, 1fr);
    }
  }